body {
    font-family: Sans-Serif
}
tr.course-line {
    cursor: pointer;
}
tr.course-line:hover {
    background-color: gray;
    color: white;
}
footer.gray div {
    background-color: gray;
    color: white;
}