<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Catalog</title>
    <th:block th:replace="fragments :: links" />
</head>
<body>
<div class="header container">
    <th:block th:insert="fragments :: navbar" />
</div>
<div class="container">
    <div th:insert="fragments :: breadcrumb" />
    <div th:if="${courses == null}">
        <h1 class="bg-danger">No courses found!</h1>
    </div>
    <div class="table-responsive" th:unless="${courses == null}">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>CATALOG NBR</th>
            <th>COURSE TITLE</th>
            <th>PREREQUISITES</th>
            <th>CATEGORY</th>
            <th>FIELD</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course, iteration : ${courses}" th:data-link="'/course/' + ${course.id}" onclick="location.href=this.getAttribute('data-link')" class="course-line">
            <td>[[${iteration.count}]]</td>
            <td>[[${course.id}]]</td>
            <td>[[${course.title}]]</td>
            <td>[[${course.prerequisites}]]</td>
            <td>[[${course.category}]]</td>
            <td>[[${course.field}]]</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<div class="footer container">
    <th:block th:insert="fragments :: footer" />
</div>
</body>
</html>