<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="https://d3js.org/d3.v4.min.js"
            th:src="@{/webjars/d3js/4.13.0/d3.min.js}"></script>

    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
    <meta charset="UTF-8">
    <title>Courses List</title>
</head>
<body>
<div class="container">
    <h1>SOFTWARE ENGINEERING</h1>
    <h2>Software Development Concentration</h2>
    <h3>Course Catalog</h3>
    <div th:if="${courses == null}">
        <h1 class="bg-danger">No courses found!</h1>
    </div>
    <div th:unless="${courses == null}" class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>CATALOG NO.</th>
            <th>COURSE NAME</th>
            <th>PREREQUISITES</th>
            <th>CATEGORY</th>
            <th>FIELD</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td><a th:href="${'/course/' + course.id}"><span th:text="${course.id}" /></a></td>
            <td th:text="${course.name}"></td>
            <td th:text="${course.prerequisites}"></td>
            <td th:text="${course.category}"></td>
            <td th:text="${course.field}"></td>
        </tr>
    </table>
    </div>
</div>
</body>
</html>