<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Detail</title>
    <th:block th:replace="fragments :: links" />
</head>
<body>
<div class="container">
    <div class="header">
        <th:block th:insert="fragments :: navbar" />
    </div>
    <h1>SOFTWARE ENGINEERING</h1>
    <h2>Software Development Concentration</h2>
    <h3>Course Details</h3>
    <div th:if="${course == null}">
        <h1 class="bg-danger">No course with catalog number [[${catalogNumber}]] found!</h1>
    </div>
    <div th:unless="${course == null}" class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr><th colspan="2">[[${course.id}]]: [[${course.title}]]</th></tr>
            </thead>
            <tbody>
                <tr><td>Category</td><td>[[${course.category}]]</td></tr>
                <tr><td>Field</td><td>[[${course.field}]]</td></tr>
                <tr><td>Prerequisites</td><td>[[${course.prerequisites}]]</td></tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <th:block th:insert="fragments :: footer" />
    </div>
</div>
</body>
</html>