<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DePaul University: CDM: Software Engineering : Graduate Program</title>
    <th:block th:include="fragments :: links" />
    <script th:src="@{/webjars/d3js/4.13.0/d3.min.js}"></script>
</head>
<body>
<div class="header container">
    <th:block th:insert="fragments :: navbar" />
</div>
<div class="container">
    <h1>Thymeleaf Template</h1>
    <h2>Spring MVC, Thymleaf Templates... Going for Angular, eventually...</h2>
    <script>
        console.log(d3)
    </script>
</div>
<div class="footer container">
    <th:block th:insert="fragments :: footer" />
</div>
</body>
</html>