<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="https://d3js.org/d3.v4.min.js"
            th:src="@{/webjars/d3js/4.13.0/d3.min.js}"></script>

    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
    <meta charset="UTF-8">
    <title>Courses List</title>
</head>
<body>
<div class="container">
    <h1>SOFTWARE ENGINEERING</h1>
    <h3>Student List</h3>
    <div th:if="${students == null}">
        <h1 class="bg-danger">No students found!</h1>
    </div>
    <div class="table-responsive" th:unless="${students == null}">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>STUDENT ID</th>
                <th>NAME (LAST, FIRST)</th>
                <th>EMAIL</th>
                <th>CONCENTRATION</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, iteration : ${students}">
                <td>[[${iteration.count}]]</td>
                <td>[[${student.id}]]</td>
                <td>[[${student.lastName}]], [[${student.firstName}]]</td>
                <td>[[${student.email}]]</td>
                <td>[[${student.concentration}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>