<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students List</title>
    <th:block th:include="fragments :: links" />
</head>
<body>
<div class="container">
    <div class="header">
        <th:block th:insert="fragments :: navbar" />
    </div>
    <h1>SOFTWARE ENGINEERING</h1>
    <h3>Student List</h3>
    <div th:if="${students == null}">
        <h1 class="bg-danger">No students found!</h1>
    </div>
    <div class="table-responsive" th:unless="${students == null}">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>STUDENT ID</th>
                <th>NAME (LAST, FIRST)</th>
                <th>EMAIL</th>
                <th>CONCENTRATION</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, iteration : ${students}">
                <td>[[${iteration.count}]]</td>
                <td>[[${student.id}]]</td>
                <td>[[${student.lastName}]], [[${student.firstName}]]</td>
                <td>[[${student.email}]]</td>
                <td>[[${student.concentration}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <th:block th:insert="fragments :: footer" />
    </div>
</div>
</body>
</html>